<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/style.css">
    <title>Portfolio</title>
</head>
<body>
    <div class="container">
            <div class="nav">
                <a href="/">Home</a>
                <a href="/projects">Projects</a>
                <a href="contact">Contact</a>
            </div>
            <h1 class="title">About Me</h1>
            <div class="bot">
                <div class="left">
                    <img src="~/images\IMG_0141.jpg" alt="me">
                    <h2 class="center">Kris Bratvold</h2>
                    <h3 class="center">Full Stack Developer</h3>
                </div>
                <div class="right">
                    <p>Writing good code is like making a good pasta the small details are everything.
I have fallen in love with writing code. Everything about it, from moving boxes around on a webpage to automating my everyday life. As someone who got in to coding later in life after being a chef/line cook for almost ten years, I never thought I would find myself being able to whip up user login/registration pages as quickly and easily as I can whip up an omelet.</p>
                </div>
            </div>
    </div>
</body>
</html>