<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/style.css">
    <title>Portfolio</title>
</head>
<body>
    <div class="project_cont">
            <div class="nav">
                <a href="/">Home</a>
                <a href="/projects">Projects</a>
                <a href="contact">Contact</a>
            </div>
            <h1 class="center">Here are some projects of mine!</h1>
            <div class="projects">
                <div class="item">
                    <div class="proj_left">
                        <img src="~/images\dollars.jpg" alt="dollar">
                    </div>
                    <div class="proj_right">
                        <h3>Budget Buddy</h3>
                        <p>This website allows you to set a budget for a project and then keeps track of how much money you are spending and on what.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="proj_left">
                        <img src="~/images\dollars.jpg" alt="dollar">
                    </div>
                    <div class="proj_right">
                        <h3>Budget Buddy</h3>
                        <p>This website allows you to set a budget for a project and then keeps track of how much money you are spending and on what.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="proj_left">
                        <img src="~/images\dollars.jpg" alt="dollar">
                    </div>
                    <div class="proj_right">
                        <h3>Budget Buddy</h3>
                        <p>This website allows you to set a budget for a project and then keeps track of how much money you are spending and on what.</p>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>